# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php

# turn rewriting on
RewriteEngine on

#RewriteMap memmap txt:/www/vvarnc/vvarsc/map.txt

# get variables in this order, [object], [object,action], [object,action,selection]
RewriteRule ^([^/\.]+)/?$ /index.php?page=$1 [L,NC,QSA]
RewriteRule ^([^/\.]+)/([^/\.]+)/?$ /index.php?page=$1&pid=$2 [L,NC,QSA]
#RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ /index.php?object=$1&action=$2&selection=$3 [L,NC,QSA]